@charset "UTF-8";

:root {
  --cor01: white;
  --cor02: black;
  --cor03: #888;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.sub_title.white {
  font-size: 12px;
  margin: 10px 0px;
  color: white;
}
.sub_title.black {
  font-size: 12px;
  margin: 10px 0px;
  text-align: center;
}
p{
  text-align: justify;
  font-size: 10px;
  color: var(--cor03);
  margin-bottom: 10px;
}
body {
  overflow-x: hidden;
}
.container {
  display: grid;
  height: 100vh;
  max-width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 2.4fr 2.0fr 0.3fr;
  gap: 5px;
  grid-template-areas: 
    "header header header header header"
    "aside_left main main main aside_right"
    "aside_left container1 container2 container3 aside_right"
    "aside_left container1 container2 container3 aside_right"
  ;
}

#header {
  height: 25px;
  grid-area: header;
  background-color: var(--cor01);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {

  font-size: 12px;
}
.menu {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu ul,
.menu li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}
.menu li:last-child {
  margin-right: 0px;
}
.menu a{
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: var(--cor02);
}
.menu a:hover{
  color: var(--cor03);
}
.menu li img {
  width: 10px;
}
.menu li img:hover {
  transform: scale(1.1);
}


#aside_left {
  grid-area: aside_left;
}
.top {
 background-color: rgb(10, 10, 10);
 padding: 0px 20px;
 width: 300px;
}
.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.square_left {
  width: 60px;
  height: 60px;
  background-color: var(--cor01);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 50px 5px 0px;
}
.square_left img {
  width: 40px;
}

.help_right {
  width: 150px;
  margin-right: -20px;
}
.help_right h3{
  font-size: 12px;
  margin-bottom: 0px;
  background-color: yellow;
  padding: 2px;
}
.help_right a img {
  width: 12px;
  margin-top: 5px;
  margin-right: 5px;
}
.help_right a img:hover {
  transform: scale(1.1);
}

.second_container {
  display: grid;
  justify-content: start;
  gap: 15px;
  grid-template-columns: 130px 130px;
  grid-template-rows: 60px;
  grid-template-areas: 
    "img_one img_two"
    "img_three img_three"
  ;
}
#img_one img{
  width: 115px;
  height: 60px;
  grid-area: img_one;
}
#img_two img{
  width: 115px;
  height: 60px;
  grid-area: img_two;
}
#img_three img{
  width: 260px;
  height: 100px;
  margin-bottom: 35px;
  grid-area: img_three;
}
.bottom {
  padding: 0px 20px;
}
.center_perfil {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}
.center_perfil img{
  width: 30px;
}
.quotation {
  display: flex;
  justify-content: center;
}
.quotation img {
  width: 30px;
}
.italic {
  font-style: italic;
}
#main {
  height: 335px;
  grid-area: main;
}
.main_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
.title_right {
  display: flex;
}
.sub_title.black.time {
  margin-right: 15px;
}
span {
  color: #888;
}

.sub_title_container {
  text-align: center;
  font-size: 10px;
  margin-bottom: 5px;
}
#container1 {
  grid-area: container1;
}
.banner img{
  width: 100%;
  height: 300px;
}
#container2 {
  grid-area: container2;
}
.sub_banner img {
  width: 100%;
  height: 200px;
}
#container3 {
  grid-area: container3;
}
.p_main {
  text-align: center;
}
#aside_right {
padding: 0px 20px;
grid-area: aside_right;
}
.menu_chat {
  background-color: var(--cor01);
}
.icons {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons img {
  width: 16px;
}
.icons img:hover {
  transform: scale(1.1);
}
.aside_title {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.aside_title a {
  text-decoration: none;
}
.left h3,
.right h3 {
  font-size: 10px;
  color: var(--cor02);
  text-decoration: none;
}
.left h3 {
  margin-right: 10px;
}
.right {
  display: flex;
}
.right h3 {
  margin-right: 5px;
}
.left h3,
.right h3:hover {
  color: var(--cor03);
}
.chat {
  display: flex;
  align-items: center;
}
.image_perfil img {
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.info {
  margin-bottom: 10px;
}
.date {
  margin: 0;
}
.message {
  margin: 7px 0px;
  color: var(--cor02);
}
.info h4 {
  font-size: 10px;
  color: var(--cor02);
}
.new_message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.new_message img {
  width: 16px;
  margin-right: 10px;
}
.new_message a,
.new_message h4 {
  text-decoration: none;
  color: var(--cor03);
  font-size: 10px;
}
.footer {
  padding: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: var(--cor4);
}
.footer a:hover {
  color: var(--cor02);
}
.menu_mobile {
  display: none;
  width: 40px;
  height: 40px;
  margin: 40px 0px;
  margin-right: 20px;
  cursor: pointer;
}
.mm_line{
  height: 4px;
  background-color: var(--cor02);
}

@media (max-width: 1000px) {
  #header {
    height: 50px;
    justify-content: space-between;
    flex-direction: row;
  }
  .container {
    display: grid;
    height: 100vh;
    max-width: 900px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 2.4fr 2.0fr 0.3fr;
    gap: 5px;
    grid-template-areas: 
      "header"
      "aside_left"
       "main"
      " container1"
      " container2"
      " container3"
      " aside_right"
    ;
  }

  .top {
    width: 100vw;
  }

  .second_container {
    justify-content: center;
  }
  .sub_title.white {
    text-align: center;
    margin: 20px 0px;
  }

  .main_title {
    margin-top: 20px;
  }
  .banner {
    height: 500px;
  }
  .sub_banner img {
    margin-top: 50px;
    height: 400px;
  }
  
  .aside_title {
    justify-content: center;
  }
  .chat {
    justify-content: center;
  }
  .new_message {
    margin-bottom: 10px;
  }
  .footer {
    display: none;
  }
}

@media (max-width: 600px) {
  #header {
    height: 100px;
  }
  .menu {
    flex-direction: column;
  }
  .logo {
    margin: 5px 0px;
  }
}