@charset "UTF-8";

@font-face{
  font-family: 'Spider';
  src: url(./font/spiderfont.ttf) format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'Misterios';
  src: url(./font/MisteriosdelAmorPersonalUse.ttf) format('opentype');
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&family=Tangerine:wght@400;700&display=swap');

:root {
  --cor1: blue;
  --cor2: rgb(155, 4, 4);
  --cor3: white;
  --cor4: rgb(23, 40, 70);

  --fonte-destaque: 'Spider', cursive;
  --fonte-sub_destaque: 'Misterios', cursive;
  --fonte-padrao: 'Roboto Mono', monospace; 
}
* {
  margin: 0;
  padding: 0;
}
nav a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  margin: 0px 20px 20px 0px;
  font-family: var(--fonte-sub_destaque);
  font-size: 32px;
  font-weight: 600;
  color: var(--cor1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.501);
}
nav a:hover {
 color:   var(--cor2); 
}
ul {
  display: flex;
  list-style-type: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, var(--cor3), var(--cor4));
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  padding: 30px;
  margin-left: 30px;
}
.titulo_um {
  font-family: var(--fonte-destaque);
  font-size: 96px;
  font-weight: 500;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  color: var(--cor2);
  padding-bottom: 30px;
}
.titulo_dois {
  font-family: var(--fonte-sub_destaque);
  font-weight: bold;
  font-size: 48px;
  color: var(--cor1);
  padding: 10px;
}
.barra {
  display: flex;
  justify-content: start;
  width: 650px;
  height: 1px;
  background-color: var(--cor4);
  transition-duration: 0.7s;
}
.photo a {
  display: flex;
  align-items: center;
  transition-duration: 0.7s;
}


@media (min-width: 662px) and (max-width: 900px) {
  .header {
    max-width: 900px;
  }
  nav a {
    font-size: 20px;
  }
  .titulo_um {
    font-size: 40px;
  }
  .titulo_dois {
    font-size: 24px;
  }
  .photo img {
    width: 300px;
  }
}

@media (min-width: 320px) and (max-width: 661px) {
  .header {
    max-width: 661px;
    flex-direction: column;
    justify-content: center;
  }
  nav a {
    font-size: 20px;
  }
  .titulo_um {
    font-size: 36px;
  }
  .titulo_dois {
    font-size: 24px;
  }
  .photo img {
    width: 200px;
  }
}