@charset "UTF-8";

@font-face{
  font-family: 'Amore';
  src: url(./font/AmoreMIO.ttf) format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: 'Misterios';
  src: url(./font/MisteriosdelAmorPersonalUse.ttf) format('opentype');
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&family=Tangerine:wght@400;700&display=swap');

:root {
  --cor1: rgba(237, 23, 23, 0.5);
  --cor2: rgb(119, 1, 1);
  --cor3: white;

  --fonte-destaque: 'Amore', cursive;
  --fonte-sub_destaque: 'Misterios', cursive;
  --fonte-padrao: 'Roboto Mono', monospace;
}
* {
  margin: 0;
  padding: 0;
}
header {
  background-image: linear-gradient(to top, var(--cor3), var(--cor1));
}
.header {
  max-width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  height: 500px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 0px 20px 20px 0px;
  font-family: var(--fonte-sub_destaque);
  font-size: 24px;
  font-weight: bold;
  color: var(--cor2);
}
nav a:hover {
 color: var(--cor1);
}
ul {
  display: flex;
  list-style-type: none;
}
.titulo_um {
  font-family: var(--fonte-destaque);
  font-size: 88px;
  font-weight: 500;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  color: var(--cor2);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.titulo_dois {
  font-family: var(--fonte-sub_destaque);
  font-weight: 300;
  font-size: 64px;
  color: var(--cor2);
  padding: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);  
}
.photo {
  display: flex;
  align-items: center;
  transition-duration: 0.7s;
  padding-top: 70px;
}
.photo img {
  height: 550px;
}
#container {
  max-width: 1050px;
  margin: auto;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40) ;
  background-color: var(--cor3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#title_text01 {
  font-family: var(--fonte-sub_destaque);
  font-weight: normal;
  font-size: 24px;
  font-weight: normal;
  color: var(--cor2);
  background-image: linear-gradient(to right, var(--cor1), transparent);
  text-indent: 8px;
  border-left: 2px solid var(--cor2);
  margin: 10px 0px 30px 0px;
}
p {
  margin: 15px 0px 20px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 32px;
  font-family: var(--fonte-padrao);
}
footer {
  padding: 5px;
  background-color: var(--cor1);
  color: var(--cor2);
  font-size: 13px;
}
footer p {
  margin: 0;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: var(--cor2);
  font-family: var(--fonte-sub_destaque);
}
footer a:hover {
  color: var(--cor3);
}

@media (min-width: 900px) and (max-width: 1200px) {
  header {
    display: flex;
    justify-content:center;
    padding: 0px 10px;
    height: 500px;
  }
  .header {
    padding: 10px;
  }
  nav a {
    padding: 2px;
    margin: 10px 20px 20px 0px;
    font-size: 20px;
  }
  .titulo_um {
    font-size: 64px;
  }
  .titulo_dois {
    font-weight: 300;
    font-size: 24px;
    padding: 10px;
  }
  .photo {
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 10px;
  }
  .photo img {
    width: 400px;
    height: 472px;
    padding-top: 0px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  header {
    display: flex;
    justify-content:center;
    padding: 0px 10px;
    height: 500px;
  }
  .header {
    padding: 10px;
  }
  nav a {
    padding: 2px;
    margin: 10px 20px 20px 0px;
    font-size: 20px;
  }
  .titulo_um {
    font-size: 40px;
  }
  .titulo_dois {
    font-weight: 300;
    font-size: 24px;
    padding: 10px;
  }
  .photo {
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 10px;
  }
  .photo img {
    width: 300px;
    height: 372px;
    padding-top: 0px;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    height: 500px;
  }
  nav a {
    padding: 2px;
    margin: 10px 20px 20px 0px;
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .titulo_um {
    font-size: 32px;
  }
  .titulo_dois {
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
  }
  .photo {
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
  }
  .photo img {
    width: 250px;
    height: 300px;
    padding-top: 10px;
  }
  #title_text01 {
    font-size: 20px; 
  }
  footer {
    font-size: 10px; 
  }
}