@charset "UTF-8";

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* O :rootseletor corresponde ao elemento raiz do documento */
:root {
  --cor01: rgb(128, 128, 128);
  --cor02: rgb(229, 229, 229);
  --cor03: rgb(0, 0, 0); 
}
body {
  overflow-x: hidden;
}
/* Header */
header {
   background-color: var(--cor01);
   overflow-x: hidden;
}

/* Primeira parte do header */
.header {
  max-width: 800px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: auto;
}
.logo {
  padding: 0px 30px;
}
.logo img {
  width: 20px;
}
.menu ul,
.menu li{
  list-style: none;
}
.menu ul {
  display: flex;
}
.menu li a {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  height: 40px;
  text-decoration: none;
  font-size: 14px;
  color: var(--cor02);
}
.menu li a:hover,
.menu .active a {
  color: rgb(190, 190, 190);
}

/* Segundo parte do header */
.sub_header {
  max-width: 100vw;
  margin: auto;
  height: 40px;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor02);
}
.apple_store ul {
  list-style: none;
}
.apple_store li a {
  text-decoration: none;
  color: var(--cor3);
  font-size: 11px;
  font-weight: 500;
  margin-right: 240px;
}
.side_menu ul {
  list-style: none;
  display: flex;
  font-size: 10px;
}
.side_menu li a {
  display: flex;
  text-decoration: none;
  color: var(--cor01);
  margin-right: 42px;
}
.side_menu img {
  width: 11px;
}

/* Terceira parte do header */
.banner {
  background-image: url(../images/banner_apple.jpg);
  width: 100vw;
  height: 600px;
  background-position: bottom;
  background-size: cover;
  background-color: var(--cor03);
}

.banner .menu_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  padding: 0px 15px;
  background-color: rgba(255, 255, 255, 0.7);
}
.banner .menu_icon img {
  width: 32px;
}
.menu_icon a {
  text-decoration: none;
  color: var(--cor3);
  font-size: 12px;
  margin-right: 38px;
}

/* Main > Title principal */
.title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: var(--cor1);
}

/* Está presente nas setes seções */
.white {
  max-width: 900px;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 150px;
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}
.description img {
  width: 200px;
  margin-bottom: 5px;
}
.description p {
  padding: 15px 30px;
  color: var(--cor1);
  margin-bottom: 5px;
}
.description a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--cor01);
  color: var(--cor02);
  padding: 8px 16px;
  border-radius: 30px 0px;
  font-size: 12px;
  opacity: 0.7;
}
.description a:hover {
  opacity: 1.0;
  transform: scale(1.1);
}

/* Icon da Apple */
.icon_apple {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.icon_apple img {
  width: 48px;
  margin-right: 5px;
}
.icon_apple h2 {
  font-size: 48px;
  font-weight: 600;
}

/* Fotos das seções */
.photo_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo_section img {
  width: 400px;
  cursor: pointer;
}

/* Seção Mac */
.mac .description h1 {
  font-size: 64px;
}
.photo_mac {
  width: 995px;
  height: 400px;
  background-image: url(../images/photo_mac_store.png);
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  cursor: pointer;
}
.row {
  max-width: 900px;
  height: 1px;
  background-color: var(--cor01);
  margin: auto;
}

/* Rodapé */
footer .description_footer {
  margin: auto;
  padding: 15px 30px;
}
.description_footer {
  max-width: 900px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.description_footer h2 {
  font-size: 12px;
}
.description_footer a {
  text-decoration: none;
  font-size: 10px;
  color: var(--cor1);
  padding: 5px 0px;
}
.description_footer a:hover {
  text-decoration: underline;
}
.titles_three {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 30px;
}
.social_networks {
  text-align: center;
  margin-bottom: 10px;
}
.social_networks a img {
  width: 30px;
  margin: 10px 5px 0px 0px;
}
.social_networks a img:hover {
  transform: scale(1.1);
}
.fale_conosco {
  background-color: var(--cor01);
  text-align: center;
  padding: 5px;
  font-size: 12px;
}
.fale_conosco a {
  text-decoration: none;
  color: var(--cor04);
}
.fale_conosco a:hover {
  color: var(--cor02);
}

.menu_mobile {
  display: none;
  width: 30px;
  height: 30px;
  margin: 30px 0px;
  margin-right: 20px;
  cursor: pointer;
}
.mm_line{
  height: 4px;
  background-color: var(--cor02);
}


/*---------------------------------------------------------------------*/

/* Responsividade (Midia Query)*/

@media (min-width: 600px) and (max-width: 900px) {
  .header {
    margin: 0;
    justify-content: space-between;
  }
  li a:hover {
    background-color: var(--cor02);
  }
  .banner {
    height: 300px;
  }
  .title {
    text-align: center;
    font-size: 20px;
  }
  .white {
    max-width: 900px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
  }
  .description p {
    text-align: center;
  }
  .description a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 8px 16px;
    border-radius: 30px 0px;
    font-size: 12px;
    opacity: 0.7;
  }
  .description a:hover {
    opacity: 1.0;
    transform: scale(1.1);
  }

  /* Icon da Apple */
  .icon_apple {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .icon_apple img {
    width: 32px;
    
  }
  .icon_apple h2 {
    font-size: 32px;
  }

  /* Fotos das seções */
  .photo_section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photo_section img {
    width: 300px;
  }
  .mac .description h1 {
    text-align: center;
    font-size: 32px;
  }
  .photo_mac {
    width: 600px;
    height: 300px;
  }

  /* Menu mobile */
  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    margin-left: -10px;
    width: 100vw;
    background-color: var(--cor01);
    transition-duration: 0.4s;
    margin-top: -30px;
  }
  header {
    height: auto;
  }
  .sub_header {
    display: none;
  }
  .logo {
    padding-left: 20px;
  }
  .menu_mobile {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  
}

@media (min-width: 320px) and (max-width: 599px) {
  .header {
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
  }
  li a:hover {
    background-color: var(--cor02);
  }
  .banner {
    height: 150px;
    }
  .title {
    text-align: center;
    font-size: 16px;
    }
  .white {
    height: 550px;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .description {
    flex-direction: column; 
  }
  .description p {
    text-align: center;
  }
  .description a:hover {
    opacity: 1.0;
    transform: scale(1.1);
  }

  /* Icon da Apple */
  .icon_apple img {
    width: 32px;
  }
  .icon_apple h2 {
    font-size: 32px;
  }

  /* Fotos das seções */
  .photo_section img {
    width: 300px;
  }
  .mac .description h1 {
    text-align: center;
    font-size: 32px;
  }
  .photo_mac {
    width: 320px;
    height: 160px;
  }
  /* Rodapé */
  footer .description_footer {
    margin: auto;
    padding: 15px 30px;
  }
  .description_footer {
    flex-direction: column;
  }

  /* Menu mobile */
    nav ul {
      flex-direction: column;
      display: none;
      position: absolute;
      left: 0;
      width: 100vw;
      background-color: var(--cor01);
      transition-duration: 1s;
      margin-top: -30px;
    }
    header {
      height: auto;
    }
    .sub_header {
      display: none;
    }
    .menu_icon img,
    .menu_icon a {
      display: none;
    }
    .logo {
      padding-left: 20px;
    }
    .menu_mobile {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }
    
}