@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01: rgb(3, 192, 158);
    --cor02: rgb(0, 41, 34);
    --cor03: rgb(248, 248, 248);
    --cor04: rgb(255, 255, 255);
    --cor05: rgb(0, 0, 0);
}
body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100vw;
    max-width: 900px;
    margin: auto;
}

.header {
    width: 100vw;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(3, 192, 158);
}
.header .menu ul,
.header .menu li {
    list-style: none;
    display: flex;
    padding: 10px;
}
.header .menu li a {
    text-decoration: none;
    color: rgb(0, 41, 34);
}
.header .menu li a:hover {
    color: rgb(3, 192, 158);
}
.header .register ul,
.header .register li {
    list-style: none;
    display: flex;
    padding-right: 10px;
}
.header .register ul,
.header .register li:last-child {
    padding-right: 0;
}
.header .register li a{
    text-decoration: none;
    color: rgb(0, 41, 34);
}
.header .register li a:hover {
    color: rgb(3, 192, 158);
}
.section_container {
    width: 100vw; 
    max-width: 900px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_box_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    border-radius: 10px;
    margin-top: -100px;
}
.section_title h1{
    font-size: 40px;
    margin-bottom: 10px;
    padding-right: 40px;
    color: rgb(3, 192, 158);
}
.section_title p {
    padding-right: 40px;
    font-size: 14px;
    text-align: justify;
    color: rgb(0, 41, 34);
    line-height: 20px;
   
}
.section_banner {
    width: 800px;
    height: calc(100vh - 100px);
    background-image: url(../images/banner_living_room.png);
    background-position: center;
    background-size: cover;
    margin-left: 200px;
    margin-top: -100px;
}
.section_title_body {
    margin-bottom: 30px;
}
.section_title_body h2  {
    text-align: center;
    font-weight: 100;
    color: rgb(0, 41, 34); 
}

.secition_companies {
    padding: 50px 0px; 
}
.section_body_companies {
    max-width: 900px;
    margin: auto;
  
}
.section_companies_area {
    display: flex;
    align-items: center;
}
.section_company {
    flex: 1;
    text-align: center;
}


.section_white {
    width: 100vw;
    max-width: 900px;
    margin: auto;
}
.section_title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    
}
.section_title h2 {
    color: rgb(3, 192, 158);
    margin-top: 100px;
    margin-bottom: 10px;
}
.section_description {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 75px;
}
.section_description h3 {
    color: rgb(0, 41, 34);
}
.section_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.sub_body {
    display: flex;
    justify-content: center;
}

.sub_body img {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.sub_body h4,
.sub_body p {
    text-align: center;
    padding: 0px 50px;
}
.sub_body h4 {
    margin-bottom: 5px;
}
.container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.container_left {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}
.item1 {
    width: 250px;
    height: 250px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.item1 h3 {
    margin-bottom: 20px;
    font-size: 40px;
    color:rgb(0, 41, 34);
}
.item1 h4 {
    margin-bottom: 5px;
    color:rgb(0, 41, 34);
}
.item1 p {
    text-align: justify;
}
.item2 {
    width: 250px;
    height: 250px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.item2 h3 {
    margin-bottom: 15px;
    font-size: 38px;
    color:rgb(0, 41, 34);
}
.item2 h4 {
    margin-bottom: 5px;
    color:rgb(0, 41, 34);
}
.item2 p {
    text-align: justify;
}
.item3 {
    width: 250px;
    height: 250px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    
}
.item3 h3 {
    margin-bottom: 15px;
    font-size: 38px;
    color:rgb(0, 41, 34);
}
.item3 h4 {
    margin-bottom: 5px;
    color:rgb(0, 41, 34);
}
.item3 p {
    text-align: justify;
}
.item4 {
    width: 250px;
    height: 250px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.item4 h3 {
    margin-bottom: 15px;
    font-size: 38px;
    color:rgb(0, 41, 34);
}
.item4 h4 {
    margin-bottom: 5px;
    color:rgb(0, 41, 34);
}
.item4 p {
    text-align: justify;
}
.container_one {
    max-width: 900px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
        "item1 item2 item5 item6"
        "item3 item4 item7 item8"
    ;
    justify-content: center;
}

.item {
    width: 250px;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}

.item1 {
    grid-area: item1; 
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.item7 {
    grid-area: item7;
}
.item8 {
    grid-area: item8;
}

.container_two {
    max-width: 900px;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
}
.container_two img {
    width: 200px;
}
.container_two h2 {   
    color: rgb(3, 192, 158);
    margin-bottom: 10px;
}
.container_two h3 {
    font-size: 16px;
    color:rgb(0, 41, 34);
    margin-bottom: 30px;
} 
.photo {
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
}
.photo .button {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    border-radius: 10px 50px;
    color: rgb(0, 41, 34);
    padding: 5px 15px;
    background-color: rgb(3, 192, 158);
}
.button:hover {
    transform: scale(1.1);
}
.body_client {
    display: flex;
    justify-content: center;
}
.comment {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px 0px;
    border: 2px solid var(--cor02);
    background-color: var(--cor01);
    padding: 50px;
}
.left_comment img{
    width: 200px;
    clip-path: circle(50% at 50% 50%);
    margin-right: 30px;
}
.right_comment {
    width: 250px;
    background-color: rgb(247, 247, 247);;
    border-radius: 10px;
    padding: 10px 20px;
}
.right_comment h3{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.right_comment h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.right_comment p {
    text-align: center;
}
.two {
    font-size: 12px;
}
.sliders_pointers {
    max-width: 900px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 75px;
}
.pointer {
    width: 15px;
    height: 15px;
    border: 3px solid var(--cor02);
    border-radius: 8px;
    margin: 0px 5px;
    cursor: pointer;
}
.pointer.active {
    background-color: var(--cor01);
  }
footer {
    width: 100vw;
    background-color: var(--cor02);
    display: flex;
    justify-content: center;
}  
.footer {
    max-width: 900px;
    color: var(--cor04);    
}
.area_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}
.area_left h2 {
    font-size: 24px;
}
.area_right a{
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 16px;
}
.area_right a:hover {
    background-color: var(--cor01);
    color: var(--cor04);
}
.button_left {
    background-color: var(--cor04);
    color: var(--cor02);
    border-radius: 30px;
    margin-right: 40px;
}
.button_right {
    background-color: var(--cor04);
    color: var(--cor02);
    border-radius: 30px;
}
.bar_two {
    max-width: 900px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(65, 65, 65, 0.2);
} 
.area_two { 
    max-width: 900px;
    padding: 50px 0px;
    display: flex;
    align-content: center;
}
.area_sub_two h3 {
    font-size: 16px;
}
.area_sub_two p{
    text-align: justify;
    font-size: 12px;
    padding-top: 10px;
    padding-right: 30px;
}
.area_three {
    padding: 50px 0px;
}
.area_sub_three {
    flex: 1;
    margin-right: 20px; 
}
.area_sub_three h3{
    font-size: 16px;
}
.area_sub_three p{
    margin-top: 10px;
    font-size: 12px;
}
.fale_conosco {
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
}
.fale_conosco a {
    text-decoration: none;
    color: var(--cor1);
}
.fale_conosco a:hover {
    color: var(--cor1);
}

.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin: 40px 0px;
    margin-right: 20px;
    cursor: pointer;
}
.mm_line{
    height: 4px;
    background-color: var(--cor01);
}

@media (min-width: 600px) and (max-width: 920px) {
    .header {
        flex-direction: row;
        height: 50px;
    }
    .register {
        display: none;
    }
    .section_container {
        padding: 20px;
    }
    .secition_companies {
        padding: 20px;
    }
    .section_white {
        padding: 20px;
    }
    .container_two {
        padding: 20px;
    }
    .footer {
        padding: 20px;   
    }
    .logo h1 {
        font-size: 16px;
    }
    .header .menu ul,
    .header .menu li {
        font-size: 16px;
    }
    .header .register ul,
    .header .register li {
        font-size: 16px;
    }
    .section_companies_area {
        flex-wrap: wrap;
      }
    
    .section_company { 
        min-width: 33%;
        margin-bottom: 30px;
    }
    .container_one {
        grid-template-areas: 
            "item1  item5"
            "item2  item6"
            "item3  item7"
            "item4  item8" 
        ;
    }
    .container_two {
        grid-template-columns: repeat(2, 265px);
    }
    .comment {
        max-width: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px 0px;
        border: 12px solid var(--cor02);
        background-color: var(--cor01);
        padding: 50px;
    }
    .left_comment img{
        width: 150px;
    }
    .right_comment {
        width: 250px;
    }
    .area_one {
        flex-direction: column;
        padding: 50px 0px;
    }
    .area_left {
        margin-bottom: 20px;
    }
    .area_two { 
        max-width: 900px;
        padding: 50px 0px;
        display: flex;
        align-content: center;
    }

    /* menu mobile */
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--cor03);
        margin-top: 0px;
    }
    .section_container {
        padding-top: 0px;
    }
    .section_box_left {
        display: none;
    }
    .section_banner {
        
        width: 100vw;
        height: calc(100vh - 100px);
        background-image: url(../images/banner_living_room.png);
        background-position: center;
        background-size: cover;
        margin-left: 0;
        margin-top: 0;
    }
    header {
        height: auto;
    }
    .logo h1{
        margin-left: 20px;
        font-size: 24px;
    }
    .menu_mobile {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}
@media (min-width: 320px) and (max-width: 599px) {
    .header {
        flex-direction: row;
        height: 50px;
    }
    .register {
        display: none;
    }
    .section_container {
        padding: 20px;
    }
    .secition_companies {
        padding: 20px;
    }
    .section_white {
        padding: 20px;
    }
    .container_two {
        padding: 20px;
    }
    .footer {
        padding: 20px;   
    }
    .logo h1 {
        font-size: 12px;
    }
    .header .menu ul,
    .header .menu li {
        font-size: 12px;
    }
    .header .register ul,
    .header .register li {
        font-size: 12px;
    }
    .section_container {
        width: 100vw; 
        max-width: 900px;
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: center;  
    }
    .section_box_left {
        width: 250px;
        height: 250px;  
    }
    .section_title h1{
        font-size: 24px;
    }
    .section_title p {
        font-size: 12px;
    }
    .section_banner{
        margin: 0;
    }
    .section_title {
        font-size: 20px;
    }
    .section_description {
        font-size: 12px;
    }

    .section_companies_area {
        flex-wrap: wrap;
      }
    .section_company { 
        min-width: 50%;
        margin-bottom: 30px;
    }
    .sub_body {
        flex-direction: column;
    }
    .sub_body h4,
    .sub_body p {
        margin-bottom: 40px;
    }
    .sub_body h4 {
        margin-bottom: 5px;
    }
    .container_one {
        grid-template-areas: 
            "item1"
            "item5"
            "item2"
            "item6"
            "item3"
            "item7"
            "item4"
            "item8" 
        ;
    }
    .item {
        margin: 10px 0px;
    }
    .item h3,
    .item h4,
    .item p {
        padding: 10px;
    }
    .container_two {
        grid-template-columns: repeat(1, 300px);
    }
    .comment {
        border-radius: 100px 0px;
    }
    .photo {
        margin: 10px 0px;
    }
    .comment {
        flex-direction: column;
        border: 6px solid var(--cor02); 
    }
    .left_comment img{
        width: 150px;
        margin-bottom: 20px;
    }
    .right_comment {
        width: 200px;
    }

    .area_one {
        flex-direction: column;
        padding: 50px 0px;
    }
    .area_left {
        margin-bottom: 20px;
    }
    .area_left h2 {
        font-size: 16px;
        text-align: center;
    }
    .area_right a{
        font-size: 12px;
    }
    .button_left {
        margin-right: 20px;
    }
    .area_two { 
        flex-direction: column;
    }
    .area_sub_two h3 {
        font-size: 16px;
    }
    .area_sub_two p{
        text-align: justify;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 20px;
        padding: 0;
    }
    .area_sub_three {
        margin-bottom: 10px;
    }
    .area_sub_three h3{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .area_sub_three p{
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 0;
    }

    /* menu mobile */
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--cor03);
        margin-top: 0px;
    }
    .section_container {
        padding-top: 0px;
    }
    .section_box_left {
        display: none;
    }
    .section_banner {
        
        width: 100vw;
        height: calc(100vh - 100px);
        background-image: url(../images/banner_living_room.png);
        background-position: center;
        background-size: cover;
        margin-left: 0;
        margin-top: 0;
    }
    header {
        height: auto;
    }
    .logo h1{
        margin-left: 20px;
        font-size: 24px;
    }
    .menu_mobile {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}